<div class="row">
  <div class="col l3"></div>
  <div class="col l6">
    <ul class="card center-align">
      <h5 class="card-title">Burgers</h5>
        {{#each itm}}
          {{#if this.entree}}
              <p class="card-content">
                {{this.id}}. {{this.item}}
              </p>
          {{/if}}
        {{/each}}
    </ul>
  </div>
</div>

<div class="row">
  <div class="col l3"></div>
  <div class="col l6">
    <ul class="card center-align">
      <h5 class="card-title">Sides</h5>
        {{#each itm}}
          {{#unless entree}}
              <p class="card-content">
                {{this.id}}. {{this.item}}
              </p>
          {{/unless}}
        {{/each}}
    </ul>
  </div>
