body {
  background-image: url("../images/burger-bg.png");
}

/*** Typography ***/
h5, p {
  font-family: 'Catamaran', sans-serif;
}

nav {
  font-family: 'Righteous', cursive;
}

/*** Buttons ***/
button {
  margin-bottom: 1.5em;
}
